.login-page {
  background-color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.head text {
  font-weight: bold;
  font-size: 35px;
  color: #151a6a;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
